@font-face {
  font-family: "Acrom";
  font-weight: 300;
  src: url("../fonts/Acrom-Light.ttf");
}

@font-face {
  font-family: "Acrom";
  font-weight: 400;
  src: url("../fonts/Acrom-Regular.ttf");
}

@font-face {
  font-family: "Acrom";
  font-weight: 500;
  src: url("../fonts/Acrom-Medium.ttf");
}

@font-face {
  font-family: "Acrom";
  font-weight: 700;
  src: url("../fonts/Acrom-Bold.ttf");
}

@font-face {
  font-family: "Acrom";
  font-weight: 900;
  src: url("../fonts/Acrom-ExtraBold.ttf");
}